/*table, th , td {*/
/*  border: 1px solid grey;*/
/*  border-collapse: collapse;*/
/*  padding: 5px;*/
/*}*/

h1, .nav {
  margin: 30px;
}

h3 {
  text-align: center;
}


#pill-1 a{
  border: 1px solid #337ab7;
}

#pill-1 a:hover {
  color: #337ab7;
  background-color: white;
  border: 1px solid #337ab7;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.container {
  height: 100px;
}

.alert-danger {
  display: none;
}