<!-- ############################ -->
<!-- ### Material Design Lite ### -->
<!-- ############################ -->

<!-- LOADING-->
<div ng-if="loading" class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--1-col">
		<p class="mdl-spinner mdl-js-spinner is-active"></p>
	</div>	
	<div class="mdl-layout-spacer"></div>
</div>
<!-- /LOADING -->

<!-- POST -->
<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--6-col">
		<div class="mdl-card mdl-shadow--4dp" style="width: 100%">
			<div class="mdl-grid" style="width: 100%">
				<div class="mdl-cell mdl-cell--8-col" style="width: 100%">
					<div class="mdl-card__title">
						<h3 class="mdl-card__title-text">
							<span>Post </span>
							<span ng-bind="post.id"></span>
						</h3>
					</div>
					<form name="postForm" ng-submit="savePost(postForm)" ng-if="!postErrorMessage" novalidate>
						<fieldset>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
							<label class="mdl-textfield__label" for="title"></label>
							<input class="mdl-textfield__input" type="text" id="title" name="title" ng-model="post.title" ng-readonly="!formEditable" ng-required="true">
							<span class="mdl-tooltip mdl-tooltip--validation" for="title" ng-if="postForm.title.$invalid">
								<span ng-if="postForm.title.$invalid">Required.</span>
							</span>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
							<label class="mdl-textfield__label" for="body"></label>
							<textarea class="mdl-textfield__input" type="text" rows="4" id="body" name="memo" ng-model="post.body" ng-readonly="!formEditable" ng-required="true" style="width: 100%"></textarea>
							<span class="mdl-tooltip mdl-tooltip--validation" for="body" ng-if="postForm.memo.$invalid">
								<span ng-if="postForm.memo.$invalid">Required.</span>
							</span>
						</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>
<!-- /POST -->

<!-- FAB BUTTONS -->
<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--3-col">
		<button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp" ng-click="editPost()" ng-if="!formEditable">
			<i class="material-icons">mode_edit</i>
		</button>	
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="cancelEditPost()" ng-if="formEditable">Cansel</button>
		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  ng-if="formEditable" ng-disabled="postForm.title.$invalid || postForm.memo.$invalid">
			<i class="material-icons">send</i>
		</button>
	</div>
</div>
<!-- /FAB BUTTONS -->
	
<!-- COMMENTS -->
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-card mdl-shadow--4dp" style="width: 100%">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4>Comments</h4>
						<table class="table table-bordered table-hover" ng-if="!commentsErrorMessage">
							<tr>
								<th> Id </th>
								<th> Post id </th>
								<th> Name </th>
								<th> Email </th>
								<th> Body </th>  
							</tr>
							<tr ng-repeat="comment in comments">
								<td ng-bind="comment.id"> </td>
								<td ng-bind="comment.postId"> </td>
								<td ng-bind="comment.name"> </td>
								<td ng-bind="comment.email"> </td>
								<td ng-bind="comment.body"> </td>
							</tr>
							</table> 
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- /COMMENTS -->