<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="dropdown">
		    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Posts per pages:
		    	<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		      <li> <a ng-href="" ng-click="setPageSize(10)"> 10 </a> </li>
		      <li> <a ng-href="" ng-click="setPageSize(20)"> 20 </a> </li>
		      <li> <a ng-href="" ng-click="setPageSize(50)"> 50 </a> </li>
		    </ul>
		  </div>
			
			<table class="table table-bordered table-hover" ng-if="!postsErrorMesage">
				<tr>
					<th> Id </th>
					<th> User id </th>
					<th> Title </th>
					<th> Body </th>
				</tr>
				<tr ng-repeat="post in posts">
					<td> <a ng-href="#posts/{{ post.id }}" ng-bind="post.id"> </a> </td>
					<td ng-bind="post.userId"> </td>
					<td ng-bind="post.title"> </td>
					<td ng-bind="post.body"> </td>
				</tr>
			</table>
			
			<!--<pagination total-items="100" items="10"></pagination>-->

			<div ng-bind="postsErrorMesage" ng-if="postsErrorMesage" class="alert alert-danger" role="alert"></div>
			
		</div>
	</div>
</div> 
 